body{
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contenido{
    width: 85%;
    margin: 0px auto;
}
header{
    height: 60px;
    font-size: 25px;
    text-align: center;
}
footer{
    text-align: left;
    clear: both;
}
header, footer{
    background-color: black;
    color: #f2ff00;
}
main{
    background-color: #f2ff00;
    color: black;
    overflow: hidden;
}
article{
    display: inline-block;
    box-sizing: border-box;
    width: 48%;
    margin: 5px auto;
    border: 5px outset black;
}

article img{
    width: 250px;
    height: 200px;
    padding-bottom: 20px;
}

#marcador{
    width: 50%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    font-size: 15px;
}
#marcador li{
    font-size: 16px;
    border: 3px solid ;
    float: left;
    background-color: black;
    color: #f2ff00;
    padding: 5px;
    text-align: center;
}

#pc,#usuario{
    font-size: 36px;
    margin: 17px;
    padding: 10px;
}

button{
    width: 18%;
    font-size: 30px;
    display: inline-block;
    margin: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
#ganador{
    font-size: 50px;
    clear: both;
}